*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.box{
    width: 60%;
    min-height: 100px;
    border: 1px solid #000;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 60px repeat(4,200px) 60px;
    /* grid-row-gap: 10px;
    grid-column-gap: 10px; */
    grid-gap: 10px;
    text-align: center;
    font-size: 2em;
    
}
.b1
{
    background-color: rgb(89, 178, 234);
    color: white;

    /* grid-row-start: 2;
    grid-row-end: 3; */

    /* grid-row: 2 / 3; */

    /* grid-column-start: 3;
    grid-column-end: 4; */
    /* grid-column: 3 / 4; */

    /* grid-area: 2 / 3 / 3 / 4; */

    grid-column: 1/span 3;

}
.b2
{
    background-color: #D5C9E2;
    color: white;
}
.b3
{
    background-color:#F5C546;
    color: white;
    grid-column: 2/span 2;
    grid-row: span 2;
}
.b4
{
    background-color: #A0C263;
    color: white;
    grid-row: 3/ span 2;
    
}
.b5
{
    background-color: #898989;
    color: white;
    grid-column: span 2;
}
.b6
{
    background-color: #53B774;
    color: white;
    /* grid-area: 1 / 1 /2/2; */
    grid-row: 5/6;
    grid-column-end: span 2;
}
.b7
{
    background-color: #F3CDDD;
    color: white;
    grid-area: 5 / 3 / -3/ -2;
}
.b8
{
    background-color: #F4A540;
    color: white;
    grid-row: 6/7;
    grid-column-end: span 3;
}