* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    width: 60%;
    min-height: 300px;
    margin: 0 auto;
    border: 2px solid black;
    position: relative;
    background-color: #EBF3F0;
}

.main header {
    width: 95%;
    min-height: 400px;
    margin-left: 2.5%;
    /* border: 2px solid black; */
    background-image: url(../imgs/task2feb20.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

header .logo {
    width: 35%;
    height: 40px;
    margin-left: 10px;
    /* border: 2px solid black; */
    float: left;
}

header .logo h2 {
    padding-top: 10px;
    font-size: 2vw;
}

header .manue {
    width: 60%;
    height: 40px;
    margin-right: 10px;
    /* border: 2px solid black; */
    float: right;
    position: relative;
}

.manue nav {
    /* padding-top: 10px;*/
    position: absolute;
    top: 12px;
    left: 40%;

}

.manue nav a {
    text-decoration: none;
    font-size: 1.4vw;
    color: black;
    padding-right: 10px;
    padding-left: 10px;
}

.manue nav a:hover {
    background-color: blueviolet;
    transition: 0.9s;
}

header .img-text {
    width: 250px;
    min-height: 50px;
    /* border: 2px solid black; */
    position: absolute;
    top: 120px;
    left: 40%;
}

.img-text h1 {
    text-align: center;
    font-size: 3vw;
    color: gray;
    font-family: 'Times New Roman', Times, serif;
}

.img-text h4 {
    text-align: center;
    color: gray;
    font-family: 'Times New Roman', Times, serif;
}

.img-text h2 {
    text-align: center;
    color: green;
    font-family: 'Times New Roman', Times, serif;

}

.main .article-section {
    width: 95%;
    min-height: 1000px;
    margin-left: 2.5%;
    position: relative;
    /* border: 2px solid black; */
}

.main .article-section .article-text {
    width: 250px;
    min-height: 50px;
    /* border: 2px solid black; */
    position: absolute;
    top: 100px;
    left: 40%
}

.main .article-section .article-text h1 {
    font-size: 1.5vw;
    text-align: center;
    color: gray;
    font-family: 'Times New Roman', Times, serif;
}

.main .article-section .article-text h2 {
    font-size: 1.5vw;
    text-align: center;
    color: green;
    font-family: 'Times New Roman', Times, serif;
}

.main .article-section article {
 
    width: 250px;
    min-height: 50px;
     border: 2px solid black; 
    position: absolute;
    top: 160px;
    left: 0;
}

.main .article-section article img {
    width: 100%;
    height: 100%;
}

.main .article-section one {
 
    width: 250px;
    min-height: 50px;
     border: 2px solid black; 
    position: absolute;
    top: 160px;
    left: 250px;
}

.main .article-section one img {
    width: 100%;
    height: 100%;
}